<h1>Hello World</h1>
<%= react_component("HelloWorldApp", props: @hello_world_props, prerender: false) %>
</hr>
<%= react_component("MessageApp", props: @m ) %>
</hr>
<%= react_component("TodoApp", props: {todos: [{id: 1, text: "test text", complete: true}]}) %>